<!doctype html>
<html lang="en">
  <head>
    <title>Complex Kinect Web App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Sup CSS for background -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/extra.css')}}">

  </head>


  <body>

    <div class='col-lg-12'>
        <h1 align='center'>Welcome to Complex Kinect!</h1>
        <div class="mx-auto" style="width: 600px;" align='center'>
            <p> Complex Kinect is a team of 5 students at Olin College of Engineering.
              The goal of our project is integrate elements of mechanical, electrical 
              and software design by constructing an interactive structure of nodes that 
              responds to motion or sound in its environment depending on a user's input.</p>
          <p> Our webapp allows a user to select between response to motion, response to sound, 
            or demo mode.</p>
        </div>
        <br>
        <div class="mx-auto" style="width: 600px" align='center'>
            <form align='center' method="get" action='/selector'>
                <button class="btn btn-primary" type="submit">Try it now!</button>
            </form>
        </div>
    </div>


        <!-- Footer -->
        <br>
        <br>
        <br>
        <br>
        <footer>
          <p align='center'>&copy; 2017 ComplexKinect <a class="btn btn-" href="http://poe.olin.edu/2017/complexkinect/" target='_blank' role="button">Learn More</a></p>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
