<!doctype html>
<html lang="en">
  <head>
    <title>Complex Kinect Web App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Sup CSS for background -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/extra.css')}}">

  </head>


  <body>

    <div class='col-lg-12'>
        <h1 align='center'>Welcome to ComplexKinect!</h1>
        <div class="mx-auto" style="width: 600px;" align='center'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac aliquam leo. Curabitur gravida vitae risus a placerat. Vivamus et quam nec ex interdum placerat. Curabitur eleifend sollicitudin libero eu sagittis. Praesent lobortis turpis vitae nunc dictum malesuada. Cras quis luctus quam. Maecenas a enim risus. Morbi in dictum nisl. Maecenas porttitor lobortis tellus sit amet luctus. Ut at ligula id purus dignissim pulvinar quis nec est. Praesent molestie, nunc quis condimentum congue, nibh eros consequat ante, posuere laoreet ligula nunc ut odio. Donec feugiat ligula et felis lobortis posuere. Nunc eget feugiat felis. Ut id enim efficitur, mollis nisi quis, finibus magna. Suspendisse potenti.</p>
        </div>
        <br>
        <div class="mx-auto" style="width: 600px" align='center'>
            <form align='center' method="get" action='/selector'>
                <button class="btn btn-primary" type="submit">Try it now</button>
            </form>
        </div>
    </div>


        <!-- Footer -->
        <br>
        <br>
        <br>
        <br>
        <footer>
          <p align='center'>&copy; 2017 ComplexKinect <a class="btn btn-" href="http://poe.olin.edu/2017/complexkinect/" target='_blank' role="button">Learn More</a></p>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
